
body{
	width: 1500px;
	margin: 0 auto;
}
.a1{
	width: 100%;
	/*height: 4500px;*/
	margin: 0px auto;
}
.a2{
	width: 1520px;
	height: 150px;
	float: left;
	position: fixed;
	background-color: white;
	z-index: 100;
}
.a3{
	float: left;
	/*margin-top: 150px;*/
}
.a3 img{
	width: 155px;
	height: 150px;
	float: left;
}
.SER4{
	width: 900px;
	height: 81px;
	float: left;
}
.a5{
	width: 292px;
	height: 81px;
	float: left;
	font-weight: 1000;
}
.a5 a{
	font-size: 15px;
	line-height: 100px;
	text-decoration: none;
	color: black;
	margin-left: 30px;
	
}
.a5 li{
	float: left;
	list-style-type: none;
	
}
.a6{
	width: 463px;
	height: 89px;
	float: right;
	
}

.a6 img{
	width: 339px;
	height: 89px;
	float: right;
	margin-right: 100px;
}
.a7{
	width: 900px;
	height: 78px;
	float: left;
	font-weight: 1000;

}
.a7 li{
    float: left;
    list-style-type: none;
   
}

.a7 a{
	float: left;
	margin-left: 40px;
	font-size: 14px;
	text-decoration: none;
	color: #000000;
}
.a8{
	width: 200px;
	height: 50px;
	float: left;
}


.set_an1{
	width: 300px;
	height: 80px;
	float: left;
	margin-left: 160px;
	margin-top: -80px;
	
}
.set_an1 a{
	float: left;
    margin-left: 30px;
    margin-top: 40px;
}
.b1{
	width: 100%;
	height: 40px;
	background-color: #CCCCCC;
	float: left;
	margin-top: 160px;
}
.b1 a{
	text-decoration: none;
	color: red;
	
}
.b2{
	line-height: 40px;
	margin-left: 605px;
}
.b3{
	float:left ;
	width: 1500px;
	height: 843px;
}
.b4 img{
	border: 1px solid white;
	border-radius:20px;
}
.b4 img:hover{
	transform: scale(1.1);
}

.b4{
	float: left;
	margin-top: 59px;
	margin-left: 140px;
}
.b4 a img{
	transition-duration: 1s;
}

.b5 img{
	border: 1px solid white;
	border-radius:20px;
}
.b5 img:hover{
	transform: scale(1.1);
}
.b5{
	float: left;
	margin-top: 59px;
	margin-left: 100px;
}
.b5 a img{
	transition-duration: 1s;
}
.b6{
	float: left;
	margin-top: 20px;
	margin-left: 139px;
}
.b6 a{
	text-decoration: none;
	color: #000000;
	font-size: 14px;
}
.b7{
	float: left;
	margin-top: 20px;
	margin-left: 451px;
}
.b7 a{
	text-decoration: none;
	color: #000000;
	font-size: 14px;
}
.c1{
    float:left ;
	width: 1520px;
	height: 800px;
	
}
.c2{
	float: left;
	margin-left: 200px;
}
.c2 img{
	width: 1091px;
	height: 613px;
}
.c3{
	float: left;
	margin-top: 20px;
	margin-left: 568px;
}
.c3 a{
	text-decoration: none;
	color: #000000;
	font-size: 30px;
}
.c4{
	float: left;
	margin-top: 20px;
	margin-left: 350px;
}
.c4 a{
	text-decoration: none;
	color: #000000;
	font-size: 18px;
}
.D1{
	float: left;
	width: 1520px;
	height: 800px;
}
.D2{
	float: left;
	margin-left: 450px;
}
.D3{
	float: left;
	margin-top: 20px;
	margin-left: 530px;
}
.D3 a{
	text-decoration: none;
	color: #000000;
	font-size: 30px;
}
.D4{
	float: left;
	margin-top: 20px;
	margin-left: 280px;
}
.D4 a{
	text-decoration: none;
	color: #000000;
	font-size: 15px;
}
.e1{
	float: left;
	width: 1520px;
	height: 700px;
}
.e2{
	float: left;
	margin-left: 140px;
}
.e3{
	float: left;
	margin-left: 50px;
}
.e4{
	float: left;
	margin-left: 50px;
}
.e5{
	float: left;
	margin-top: 20px;
	margin-left: 220px;
}
.e5 a{
	text-decoration: none;
	color: #000000;
	font-size: 20px;
}
.e6{
	float: left;
	margin-top: 80px;
	margin-left: -200px;
}
.e6 a{
	text-decoration: none;
	color: #000000;
	font-size: 15px;
}
.e7{
	float: left;
	margin-top: 20px;
	margin-left: 220px;
}
.e7 a{
	text-decoration: none;
	color: #000000;
	font-size: 20px;
}
.e8{
	float: left;
	margin-top: 80px;
	margin-left: -200px;
}
.e8 a{
	text-decoration: none;
	color: #000000;
	font-size: 15px;
}
.e9{
	float: left;
	margin-top: 20px;
	margin-left: 220px;
}
.e9 a{
	text-decoration: none;
	color: #000000;
	font-size: 20px;
}
.e10{
	float: left;
	margin-top: 80px;
	margin-left: -200px;
}
.e10 a{
	text-decoration: none;
	color: #000000;
	font-size: 15px;
}
.kuang {
float: right;
margin-right: 70px;
margin-bottom: 14px;
}
.inner_search{
/*设置搜索框样式*/

background-color: white;
border: 1px #b6b6b6 solid;

border-radius: 5px;
/*设置搜索框内默认文字样式*/


font-size: 13px;
/*color: red;
*/
/*设置搜索框大小以及位置*/

display: inline-block;
float: left;
width: 250px;
height: 28px;
margin: 6px 0px;
padding: 5px;
}

.f1{
	float:left ;
	width: 1520px;
	height: 750px;
}
.f2{
	float: left;
	width: 584px;
	height: 700px;
	margin-left: 140px;
	
}
.f3{
	float: left;
	width: 584px;
	height: 700px;
	margin-left: 100px;
}
.f4 a{
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	float: left;
	margin-top: 20px;
}
.f5 a{
	text-decoration: none;
	color:black;
	font-size: 14px;
	float: left;
	margin-top: 20px;
}
.h1{
	
}



.h1{
	float:left ;
	width: 1520px;
	height: 620px;
	background-color:#222222;
}
.set_and1{
	width: 260px;
	height: 200px;
	margin-left: 50px;
}
.h3 a{
	text-decoration: none;
	float: left;
	color:lavenderblush;
	font-size: 15px;
	margin-top: 20px;
}
.h4{
	float: left;
	width: 32px;
	height: 35px;
	margin-top: 60px;
	margin-left: -110px;
}
.h4 img{
	transition: all 1s ease-in-out;
}
.h4 img:hover{
	transform: rotate(360deg);
}
.h7 a{
	text-decoration: none;
	float: left;
	color:lavenderblush;
}
.h7{
	float: left;
	margin-top: 70px;
	margin-left: -60px;
}
.h5 a{
	text-decoration: none;
	float: left;
	color:lavenderblush;
}
.h5{
	float: left;
	margin-top: 120px;
	margin-left: -235px;
}
.h6{
		float: left;
	margin-top: 150px;
	margin-left: -235px;
}
.i1{
	width: 260px;
	height: 200px;
	
	margin-left: 400px;
	margin-top: -200px;
}
.i2 a{
	text-decoration: none;
	float: left;
	color:lavenderblush;
}
.i2{
	float: left;
	margin-top: 20px;
	font-size: 15px;
}
.i3{
	float: left;
	margin-top: 60px;
	margin-left: -155px;
}
.i3 img{
	transition: all 1s ease-in-out;
}
.i3 img:hover{
	transform: rotate(360deg);
}
.i4 a{
	text-decoration: none;
	float: left;
	color: lavenderblush;
}
.i4{
	float: left;
	margin-top: 65px;
	margin-left: -110px;
	font-size: 15px;
}
.i5 a{
	text-decoration: none;
	float: left;
	color: lavenderblush;
}
.i5{
	float: left;
	margin-top: 120px;
	margin-left: -155px;
	font-size: 15px;
}
.i6{
	float: left;
	margin-top: 160px;
	margin-left: -160px;
}
.j1{
	width: 260px;
	height: 200px;
	margin-left: 900px;
	margin-top: -180px;
	
}
.j2 ul{
	float: left;
	color: lavenderblush;
	cursor: pointer;
}

.j2 li{
	line-height: 30px;
	font-size: 15px;
}
.k1{
	width: 260px;
	height: 350px;
	margin-left: 1200px;
	margin-top: -300px;
	
}
.k2 ul{
	float: left;
	color: lavenderblush;
	cursor: pointer;
}

.k2 li{
	line-height: 30px;
	font-size: 15px;
	
}
.l1{
	margin-left: 50px;
	width: 750px;
	height: 350px;
	
}
.l2 a{
	text-decoration: none;
	float: left;
	color: lavenderblush;
}
.hao{
	float: left;
	font-size: 15px;
	margin-top: 50px;
}
.hao a{
	float: left;
	text-decoration: none;
	color: lavenderblush;
}
.hao1{
	float: left;
	font-size: 15px;
	margin-top: 10px;
	margin-right: 100px;
}
.hao1 a{
	float: left;
	text-decoration: none;
	color: lavenderblush;
}
.hao2{
	float: left;
	font-size: 15px;
	margin-top: 30px;
	margin-right: 100px;
}
.hao2 a{
	float: left;
	text-decoration: none;
	color: lavenderblush;
}
.dis{
	display: none;
}
.dis1:hover .dis{
	display: block;
	position: absolute;
	top: 130px;
	left: 0px;
	background: white;
	width: 1528px;
	height:500px;
}
.dis ul li{
	clear: both;
}
.a7 ul li{
	margin-top:30px;
}
.dis ul li{
	margin-top:10px;
}
.tt1 li:hover{
	text-decoration:underline;
}
.tt1{
	margin-top: 30px;
	float: left;
	margin-left: 196px;
}
.tt2 li:hover{
	text-decoration:underline;
}
.tt2{
	margin-top: 30px;
	float:left;
	margin-left: 160px;
}
.tt3 li:hover{
	text-decoration:underline;
}
.tt3{
	float:left;
	margin-top: 30px;
	margin-left: 150px;
}
.tt4{
	float:left;
	margin-left: 715px;
    margin-top: -300px;
}
.tt4 img{
	float: left;
	width: 450px;
	height: 350px;
}
